@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// basic styles
$default-font: 'Roboto', sans-serif;
$default-dark: #18434E;
$default-light: #a9c7d2;

// notification colors
$success-green: #00b247;
$error-red: #d66168;
$info-blue: #009ddb;
$warning-yellow: #e2da3a;