@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// basic styles
$default-font: 'Roboto', sans-serif;
$default-dark: #18424E;
$default-light: #96AFB8;